.menu {
    font-size: 20px;
    color: rgba(9, 8, 31, 0.5)
}
.text {
    font-style: italic;
    color: #2749F5;
}
.t1 {
    font-size: 15px;
}
.t2 {
    font-size: 2em
}
.whywe {
    color: #F54927;
    font-weight: bold;
}
.w1 {
    font-size: 2em;
}
.w2 {
    font-size: 1rem;
}
.box {
    width: 200px;
    height: 200px;
    background-color: rgb(39, 194, 245);
}
.box1 {
    width: 50%;
    height: 50%;
    background-color: rgb(190, 39, 245);
}