
/*тут я сделала отступв внутри рамки и указала толщину и цвет рамки/ ТАк же указала оттуп рамки сбоку от края страницы*/
.container {
    margin: 15px;
    padding: 50px;
    border: 15px solid orange;
}
/* указала парметры параграфов, поменала расположение с блочного на линейный, задала жирный шрифт и выбрала цвет*/
p{
    display: inline;
    font-weight: bold;
    color: blueviolet;
}
/*задала расположение изображения блочный*/
img {
    display: block;
}
/*задала изображение ссылки блочный*/
a {
    display: block;
}
.green {
    color: green;
}

